{% load static %}
<!Doctype html>

<html>
    <head>
        <title>Socialdistribution App</title>
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
    </head>

    <body>
        <!--background wallpaper-->
        <body id="bg" style="background-image: url('{% static "wallpaper4.jpg"%}')";>
        
        <!--Navigation menu-->
		<div class="topnav">
			<a class="active" href="/">Home</a>
			<a href="#Login.html">Login</a>
			<a href="{% url 'signup'%}">Sign up</a>
			<a href="{% url 'logout' %}">Logout</a>
		</div>

    <div class="box">
        <div class="form-group">
            <h1>LoginHello</h1>
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-secondary">Login</button>
        </div>
    </div>
    </body>
</html>