<!--This template uses django form to auto generate the comment form-->

{% extends "base.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/AddComment.css' %}">
{% endblock %}

{% block content %}

    <div class="comment">
        <h1>Add New Comment</h1>
        <br/>
        <div class="form-group">
            <form method="POST">
                {% csrf_token%}
                {{ form.as_p }}
                <button class="btn btn-secondary">Add Comment</button>
        </div>
        <!--auhtor is hidden from the user when adding a new comment-->
        <!--use django user to get the logged in user and add that value-->
        <!--these two lines of javascript are editing the custom forms-->
        <script>
            var name = "{{ user.id }}";
            document.getElementById("uniqueid").value = name;
            /*not working, i need to figure out how to get the post id*/
            var post_name = "{{ post.id }}";
            document.getElementById("uniquepost").value = post_name;
        </script>
    </div>

{% endblock %}