{% load static %}
<!Doctype html>

<html>
    <head>
        <title>Socialdistribution App</title>
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
    </head>

    <body>
        <!--background wallpaper-->
        <body id="bg" style="background-image: url('{% static "wallpaper3.jpg"%}')";>

        <!--Navigation menu-->
		<div class="topnav">
			<a class="active" href="author.html">Home</a>
			<a href="editProfile.html">Edit Profile</a>
			<a href="#signup.html">Friends/FOllowers</a>
			<a href="newMessage.html">New Message</a>
            <a href="newPost.html">New Post</a>
		</div>

        <!--COMMENT-->
        <h2 class="comment"><br><br>We'll have to rearrange this navigation menu later, it should go to the bottom. I just wanted 
        to set up the pages for now</h2>

        
    </body>
</html>