{% load static %}
<!Doctype html>

<html>
    <head>
        <title>Socialdistribution App</title>
        <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
    </head>

    <body>
        <!--background wallpaper-->
        <!--<body id="bg" style="background-image: url('{% static "wallpaper2.jpg"%}')";-->

        <!--Navigation menu-->
		<div class="topnav">
			<a class="active" href="author.html">Home</a>
			<a href="editProfile.html">Edit Profile</a>
			<a href="#signup.html">Friends/FOllowers</a>
			<a href="newMessage.html">New Message</a>
            <a href="{% url 'add_post' %}">New Post</a>
            <a href="{% url 'logout' %}">Logout</a>
		</div>

        <!--COMMENT-->
        <h2 class="comment"><br><br>We'll have to rearrange this navigation menu later, it should go to the bottom. I just wanted 
        to set up the pages for now</h2>

    <div class="post">
        <h1>POST......</h1>

        {% for post in object_list %}
            <ul>
                <li><a href="{% url 'post-details' post.pk%}">{{ post.title }}</a> - 
                {{ post.author}} - <a href="{% url 'update_post' post.pk%}">Edit</a>
                  -  <a href="{% url 'delete_post' post.pk%}">Delete Post</a> <br/>
                {{ post.content }}</li>
                <br/>
                <br/>
            {% endfor%}
            </ul>
    </div>

    </body>
</html>