{% load static %}
<!Doctype html>
<html>
    <head>
      <title>Socialdistribution App</title>
      <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
      <style>
        body{
            background-image: url("{% static 'wallpaper5.jpg' %}");
        }
      </style>
      {% block head %}{% endblock %} <!-- Just in case if you need it. -->
    </head>

    <body>
    <!--background wallpaper-->
    <!--<body id="bg" style="background-image: url('{% static "wallpaper4.jpg"%}')";-->

    <!--Navigation menu-->
		<nav class="topnav">
		  <a class="active" href="{% url 'author' %}">Home</a>
      <a href="{% url 'add_post' %}">New Post</a>
      <a href="{% url 'new_message' %}">Friend Posts</a>
      <a href="{% url 'inbox' %}">Inbox</a>
      <a href="{% url 'followers' %}">Followers</a> 
      <a href="{% url 'friends' %}">Friends</a>
      <a href="{% url 'findFollowers' %}">Find Followers</a>
      <a href="{% url 'editProfile' %}">Edit Profile</a>
      <a href="{% url 'remotePosts' %}">Remote Posts</a>
      <a href="{% url 'logout' %}">Logout</a>
    </nav>

    <main id="content">
      {% block content %}{% endblock %}
    </main>
    
    </body>
</html>
