{% load static %}
<!Doctype html>

<html>
    <head>
        <title>Socialdistribution App</title>
        <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
        <style>
          body{
              background-image: url("{% static 'wallpaper5.jpg' %}");
          }
        </style>
        {% block head %}{% endblock %} <!-- Just in case if you need it. -->
      </head>
  
    <body>
        <!--Navigation menu-->
		<div class="topnav">
			<a class="active" href="{% url 'home' %}">Home</a>
			<a href="{% url 'login' %}">Login</a>
			<a href="{% url 'signup' %}">Sign up</a>
			<a href="#logout">Logout</a>
		</div>
        
        <main id="content">
            {% block content %}{% endblock %}
        </main>

    </body>
</html>
