{% extends "base.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/deletepost.css' %}">
{% endblock %}

{% block content %}

    <!-- We might have to change this so that we don't redict for deleting-->
    <div class="delete">
        <h1 class="title">Delete Post</h1>
        <h3>Delete: {{ post.title }}</h3>
        <div class="form-group">
            <form method="POST">
                {% csrf_token%}
                <strong>Deleting post? </strong>
                <br>
                <button class="btn btn-secondary">Delete Post</button>
        </div>
    </div>

{% endblock %}
