{% load static %}
<!Doctype html>

<html>
    <head>
        <title>Socialdistribution App</title>
        <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    </head>

    <body>
        <!--background wallpaper-->
        <body id="bg" style="background-image: url('{% static "wallpaper3.jpg"%}')";>
        

        <!--Navigation menu-->
		<div class="topnav">
			<a class="active" href="author.html">Home</a>
			<a href="#Login.html">Edit</a>
			<a href="#signup">Sign up</a>
			<a href="#logout">Logout</a>
		</div>

        <form class="box" action="index.html" method="post">
            <h1>Edit Profile</h1>
            {% csrf_token %}
            <label class="required" for="{{ form.fistName.id_for_label }}">First Name </label>
                {{ form.fistName }}<br>
            <label class="required" for="{{ form.lastName.id_for_label }}">Last Name </label>
                {{ form.lastName }}<br>
            <label class="required" for="{{ form.displayName.id_for_label }}">Username </label>
                {{ form.displayName }}
            <label class="required" for="{{ form.Password.id_for_label }}">Password </label>
                {{ form.Password }}
            <label class="required" for="{{ form.Confirm_Password.id_for_label }}">Re-enter Password</label>
                {{ form.Confirm_Password }}
            <a class="button" href="{% url 'author' %}" >save changes</a>
        </form>

    </body>
</html>