{% extends "base.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/editpost.css' %}">
{% endblock %}

{% block content %}

    <!-- use django forms to auto generate the edit fields, (only title and content for now)-->
    <div class="edit">
        <h1>Edit Post</h1>
        <br/><br/>
        <div class="form-group">
            <form method="POST">
                {% csrf_token%}
                {{ form.as_p }}
                <button class="btn btn-secondary">Update</button>
        </div>
    </div>

{% endblock %}
   