{% extends "base.html" %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock %}

{% block content %}
    <form class="box" action="index.html" method="post">
        <h1>Edit Profile</h1>
        <input type="text" name="" placeholder="Name">
        <input type="text" name="" placeholder="email">
        <input type="text" name="" placeholder="Username">
        <input type="password" name="" placeholder="Password">
        <input type="password" name="" placeholder="Confirm password">
        <br>
        <a href="author.html">save changes</a>
    </form>
{% endblock %}