{% load static %}
<!Doctype html>

<html>
    <head>
        <title>Socialdistribution App</title>
        <link rel="stylesheet" href="{% static 'css/followers.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        <!--background wallpaper-->
        <body id="bg" style="background-image: url('{% static "wallpaper3.jpg"%}')";>

        <!--Navigation menu-->
		<div class="topnav">
			<a class="active" href="index.html">Home</a>
			<a href="editProfile.html">Edit Profile</a>
			<a href="author/{{ author_id }}/followers">Followers</a> 
            <a href="#friends.html">Friends</a>
            <!--<a href="find_friends.html">Find Friends</a>-->
			<a href="newMessage.html">New Message</a>
            <a href="newPost.html">New Post</a>
            <div class="search-bar">
                <input type="text" placeholder="Find Followers By ID" name="search">
                <form action="author/{author_id }/followers/{ foreign_author_id }">
                <button class="button" type="submit">Search</button>
                </form>
            </div>
		</div>

        <!--Followers-->
        {% if is_empty %}
        <div class="authorcard_list">
            <p class="message"> You dont have any followers yet, Use the Search Button to add Followers</p>
        {% else %}                  
            {% for author in followers %}
            <li>
            <a href="author/{author_id }/followers/{ foreign_author_id  author.id}">
            <div class="authorcard_list">
                    <div class="user-info">
                            <i class="fa fa-user-circle" style="font-size: 150px;" aria-hidden="true"></i>
                            <p class="message">{{ author.display_name }}</p>
                        </div>
            </li>
            {% endfor%}
        {% endif %}
        </div>
        
    </body>
</html>