{% extends "base.html" %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/followers.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
<!--Followers-->
    {% if is_empty %}
    <div class="authorcard_list">
        <p class="message"> No new followers, Use Find Followers to follow new users</p>
    </div>
    {% else %}                  
        {% for follower in followers %}
        <li>
            <div class="authorcard_list">
                <div class="user-info">
                    <i class="fa fa-user-circle" style="font-size: 150px;"></i> 
                    <p class="message">{{ follower.author_from}}</p>
                </div>
                <div class="button-container"> 
                    <a class="button" href="{% url 'addfollower' follower.author_from.id %}">Follow Back</a>
                </div>
            </div>
        </li>
        {% endfor%}
    {% endif %}
    {% for remote_author in remoteFollowers %}
        <li>
            <div class="authorcard_list">
                <div class="user-info">
                    <i class="fa fa-user-circle" style="font-size: 150px;"></i> 
                    <p class="message">{{ remote_author.displayName}}</p>
                </div>
                <div class="button-container"> 
                    <a class="button" href="{% url 'addRemoteFollower' remote_author.id %}">Follow Back</a>
                </div>
            </div>
        </li>
        {% endfor%}
{% endblock %}