{% extends "base.html" %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/followers.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
    <!--Friends -->
    {% if is_empty %}
    <div class="authorcard_list">
        <p class="message"> You dont have any friends yet, Use Find Followers to add Followers</p>
    </div>
    {% else %}                  
        {% for friend in friends %}
        <li>
            <div class="authorcard_list">
                <div class="user-info">
                    <i class="fa fa-user-circle" style="font-size: 150px;"></i> 
                    <p class="message">{{ friend.author_from}}</p>
                </div>
                <div class="button-container"> 
                    <a class="button" href="{% url 'unfollow' friend.author_from.id %}">UnFollow</a>
                </div>
            </div>
        </li>
        {% endfor%}
    {% endif %}
{% endblock %}