{% load static %}
<!Doctype html>

<html>
    <head>
        <title>Socialdistribution App</title>
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
    </head>

    <body>
        <!--background wallpaper-->
        <body id="bg" style="background-image: url('{% static "wallpaper4.jpg"%}')";

        <!--Navigation menu-->
		<div class="topnav">
			<a class="active" href="index.html">Home</a>
			<a href="{% url 'login'%}">Login</a>
			<a href="signup.html">Sign up</a>
			<a href="#logout">Logout</a>
		</div>

        <br><br><br>
        <div class="wrapper">
			<!--ABout-->
			<artical class="info">
				<h1>Social Distribution</h1>
				<p>Social distribution is a blogging/social network platform will allow the importing of other sources of posts (github,
                 twitter, etc.) as well allow the distributing sharing of posts and content. An author sitting on one server can aggregate
                the posts of their friends on other servers.</p>
			</article>
		</div>
    </body>
</html>