{% load static %}
<!Doctype html>

<html>
    <head>
        <title>Socialdistribution App</title>
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
    </head>

    <body>
        <!--background wallpaper-->
        <body id="bg" style="background-image: url('{% static "wallpaper3.jpg"%}')";>
        

        <!--Navigation menu for Log in -->
		<div class="topnav">
			<a class="active" href="index.html">Home</a>
		</div>

        <form class="box" action="author.html" method="post">
            <h1>Login</h1>
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="fieldWrapper">
            <label class="required" for="{{ form.UserName.id_for_label }}">Username </label>
                {{ form.UserName }}
            </div>
            <div class="fieldWrapper">
            <label class="required" for="{{ form.Password.id_for_label }}">Password </label>
                {{ form.Password }}
            </div>
            <div>
            <a class="button" href="{% url 'author' %}">Log In</a>
            <p class="signin"> Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
            </div>
        </form>

    </body>
</html>