{% load static %}
{% load markdownify %}
<!Doctype html>

<html>
    <head>
        <title>Socialdistribution App</title>
        <link rel="stylesheet" href="{% static 'css/postdetails.css' %}">
    </head>

    <body>
        <!--background wallpaper-->
        <body id="bg" style="background-image: url('{% static "wallpaper4.jpg"%}')";

        <!--Navigation menu-->
		<div class="topnav">
			<a class="active" href="{% url 'author'%}" >Home</a>
			<a href="{% url 'editProfile' %}">Edit Profile</a>
			<a href="{% url 'newMessage' %}">Friends Posts</a>
            <a href="{% url 'add_post' %}">New Post</a>
            <a href="{% url 'followers' %}">Followers</a> 
            <a href="{% url 'friends' %}">Friends</a>
            <a href="{% url 'findFollowers' %}">Find Followers</a>
            <a href="{% url 'remotePosts' %}">Remote Posts</a>
            <a href="{% url 'logout' %}">Logout</a>
		</div>

    <br>
    <div class="posti">
        <h1>{{ post.title }}</h1>
            <small>By: {{ post.author }}</small><br>
            <br>

            <section>
            {% if post.content_type == "text/plain" %}
            <!--display a post as text without formatting-->
                <p>{{post.content}}</p>
            {% elif post.content_type == "text/markdown" %}
            <!--render markdown post as sanitized html-->
                {{post.content|markdownify}}
            {% elif post.content_type == "application/base64" %}
            <!--assume this image has full base64 encoding, not just payload-->
                <img alt="post image" src={{ post.content }}>
            {% else %}
            <!--display base64 data as an image - prepend stored content type-->
                <img alt="post image" src={{ "data:"|add:post.content_type|add:","|add:post.content }}>
            {% endif %}
            </section>
        
         <!--COMMENTS-->
         <br><br/>
        <h2 class="comment">COMMENTS <br></h2>
        
        {% if not post.comment_set.all%}
            <!--No Comments yet <a href="{% url 'add_comment' %}">add comment</a>-->
        {% else %}
            {% for comment in post.comment_set.all%}
                <ul>
                    <small>By: {{comment.author}}</small> - <strong>{{comment.comment}}</strong>
                </ul>
                
            {% endfor %}
        {% endif %}
        <a href="{% url 'add_comment'%}">Add Comments</a>
    </div>
    </body>
</html>