{% extends "base.html" %}

{% load static %}
{% load markdownify %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/remote_posts.css' %}">
<style>
    body{
        background-image: url("{% static 'wallpaper5.jpg' %}");
    }
</style>
{% endblock %}

{% block content %}
    <h1>Remote Posts</h1>
    {% if has_content %}
        <div class="posts">
            {% for post in posts %}
                <h1 class="postTitle"><a href={{ post.origin }}>{{ post.title }}</a></h1>
                <p>By: <a href={{ post.author.url }}>{{ post.author.displayName }}</a> - <small>{{ post.published }}</small></p>
                <p class='postDescription'>{{ post.description }}</p>
                {% if post.contentType and post.content %}
                    <section>
                        {% if post.contentType == "text/plain" %}
                        <!--display a post as text without formatting-->
                            <p>{{post.content}}</p>
                        {% elif post.contentType == "text/markdown" %}
                        <!--render markdown post as sanitized html-->
                            {{post.content|markdownify}}
                        {% elif post.contentType == "application/base64" %}
                        <!--assume this image has full base64 encoding, not just payload-->
                            <img alt="post image" src={{ post.content }}>
                        {% else %}
                        <!--display base64 data as an image - prepend stored content type-->
                            <img alt="post image" src={{ "data:"|add:post.contentType|add:","|add:post.content }}>
                        {% endif %}
                    </section>
                {% endif %}

                <!--COMMENTS-->
                <h2 class="comment-header">COMMENTS</h2>
                <ul>
                    {% for comment in post.comments %}
                        <li>
                            <strong><a href={{ comment.author_id.url }}>{{comment.author_id.displayName}}</a>:</strong> {{comment.comment}}
                        </li> 
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
    {% else %}
        <h2>No Posts Available</h2>
    {% endif %}
{% endblock %}