*{
    margin: 0;
    padding: 0;
}

.post {
	border: 4px solid rgb(150, 17, 61);
	color: wheat;
	font-size: 20px;
	max-width: 600px;
	padding: 2em;
	margin: 2em auto;
}

.post > h1 {
	text-align: center;
}

.post .form-group #id_content{
    width: 100%;
}

.post .form-group #id_description{
    width: 50%;
}

.post .form-group #id_title{
    width: 50%;
}
  
